@page  "/restaurants/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title"> Create New Restaurant</h3>
<hr />
<br />

<FormComponent ButtonText="Create Restaurant" restaurant="restaurant" OnValidSubmit="@CreateRestaurant" />

@code {
    Restaurant restaurant = new Restaurant();

    private IList<Category> Categories;

    protected async override Task OnInitializedAsync()
    {
        Categories = await _client.GetFromJsonAsync<List<Category>>($"{Endpoints.CategoriesEndpoint}");
    }

    private async Task CreateRestaurant()
    {
        await _client.PostAsJsonAsync(Endpoints.RestaurantsEndpoint, restaurant);
        _navManager.NavigateTo("/restaurants/");
    }
}