@page "/"

<h1>Hello!</h1>

Welcome to SD Reservations!
<hr />
<br />
With This Application, You are able to Book a reservation from various restaurants for you and your loved ones
<hr />
<br />
Enjoy Various Promotions and Offers By using our application
<hr />
<br />
<SurveyPrompt Title="How is Blazor working for you?" />